.git
.gitignore
node_modules
frontend/node_modules
frontend/dist
backend/node_modules
cache
screenshots
npm-debug.log
**/node_modules
**/.cache
**/.next
**/dist-ssr
**/coverage
**/.git
**/.DS_Store
**/README.md
**/tests
**/*.log
.env


# Ignore development and local environment files
.git
.gitignore
.env
README.md
node_modules
npm-debug.log

# Ignore frontend build artifacts and dependencies
frontend/node_modules
frontend/dist

# Ignore backend dependencies
backend/node_modules
