.git
.gitignore
node_modules
web/node_modules
web/dist
api/node_modules
cache
screenshots
npm-debug.log
**/node_modules
**/.cache
**/.next
**/dist-ssr
**/coverage
**/.git
**/.DS_Store
**/README.md
**/tests
**/*.log
.env
**/.env


# Ignore development and local environment files
.git
.gitignore
README.md
node_modules
npm-debug.log

# Ignore frontend build artifacts and dependencies
web/node_modules
web/dist

# Ignore api dependencies
api/node_modules
