services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
      - /Users/vikram/projects:/mnt/Projects
      - /Users/vikram/Downloads:/mnt/Downloads
      - /Users/vikram/Pictures:/mnt/Pictures
      - /Users/vikram/Downloads/config:/config
      - /Users/vikram/Downloads/cache:/cache
      - /Users/vikram/Downloads/user_vols:/srv/users
    # user: "${UID:-1000}:${GID:-1000}"
    environment:
      - PORT=3001
      - VOLUME_ROOT=/mnt
      - CONFIG_DIR=/config
      - LOG_LEVEL=debug
      - CACHE_DIR=/cache
      - PUBLIC_URL=https://files.vsoni.com
      - SESSION_SECRET=dev-change-me
      
      - OIDC_ENABLED=true
      - OIDC_ISSUER=https://auth.vsoni.com/application/o/next/
      - OIDC_CLIENT_ID=6HBh3lMneUwWCAeutdEgwNZ6myXzFc93clojdfmQ
      - OIDC_CLIENT_SECRET=w2ACQfUhhk2vZ14m2GVvYbWqkCQTiXyMsowpLQE2JtiPfaCTrBKhZHwZACgHOCWgSs9zhJW0j8y1TYCrLs0hsMmM0xdIz5tRmce6o4ymVOCQByPRIr9xMxtBt1Spg0I1
      - OIDC_SCOPES=openid,profile,email,groups
      - OIDC_ADMIN_GROUPS=next-admin,admins

      - ONLYOFFICE_URL=https://office.vsoni.com
      - ONLYOFFICE_SECRET=ha96M546Hl5oSSvrjvabmXK1D6qlRH15
      - ONLYOFFICE_LANG=en
      
      - USER_DIR_ENABLED=true
      - USER_ROOT=/srv/users

      # - OIDC_TOKEN_URL=https://auth.vsoni.com/application/o/token/
      # - OIDC_USERINFO_URL=https://auth.vsoni.com/application/o/userinfo/
      # - OIDC_AUTHORIZATION_URL=https://auth.vsoni.com/application/o/authorize/
      # - OIDC_ISSUER=http://192.168.1.2:8087/realms/next
      # - OIDC_CLIENT_ID=next-app
      # - OIDC_CLIENT_SECRET=PpIuYcL8NIshpjDWl3w2H6bwDIhyTjJ4
      # - OIDC_SCOPES=openid profile email
      # - OIDC_ADMIN_GROUPS=next-admin admins

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      # Vite proxies API requests to the backend container
      - VITE_BACKEND_ORIGIN=http://backend:3001
      # Often needed on macOS/Windows for file change detection:
      - CHOKIDAR_USEPOLLING=1
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    # user: "${UID:-1000}:${GID:-1000}"

volumes:
  backend_node_modules:
  frontend_node_modules:
