@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));


/* Themed, thin scrollbars (global) */
@layer base {
  /* Default (light) theme variables */
  :root {
    --scrollbar-track: transparent; /* nextgray-200 */
    --scrollbar-thumb: #b7b4b4; /* nextgray-400 */
    --scrollbar-thumb-hover: #BDBDBD;

    --clr-base: #fff;
    --clr-base-muted: #f9f9f9;
  }

  .dark {
    --scrollbar-track: transparent; /* nextslate-900 */
    --scrollbar-thumb: #3d3d3f; /* nextgray-700 */
    --scrollbar-thumb-hover: #3a3a3d;

    --clr-base: #212121;
    --clr-base-muted: #181818;
  }

    *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  /* Firefox */
  html {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }

  /* WebKit (Chrome, Edge, Safari) */
  *::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  *::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 9999px;
    border: 2px solid var(--scrollbar-track);
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}

@layer components {
  /* Make vue-drag-select behave like its “Drag To Scroll” story:
     root wrapper is the scroll container, and the inner
     .drag-select area fills its height so you can start a drag
     anywhere in the visible region (even with few items). */
  .drag-select__wrapper {
    @apply h-full;
  }

  .drag-select {
    @apply min-h-full;
  }
}



@theme {
  /* Avoid collision with Tailwind's built-in `text-base` font-size utility. */
  --color-default: var(--clr-base);
  --color-default-muted: var(--clr-base-muted);
}
